<h4> Hello <%= current_user.email %> </h4>

<h5> Current Identification: </h5>
<% if current_user.passport %>
  <%= "PASSPORT" %>
<% end %>

<% if !current_user.states.empty? %>
  <h5> Home State: <%= current_user.home_state %> </h5>

  <h5> Places I've Lived: </h5>
    <h5><%= current_user.history %> </h5>

<% end %>

<h5> What would you like to do? </h5>

<%= link_to "Choose State of Residence", user_states_path(current_user) %> | <%= current_user.passport.present? ? (link_to "Edit Passport", edit_user_passport_path( current_user,current_user.passport)) : (link_to "Register For Passport", new_user_passport_path(current_user)) %> | <%= link_to "Register For State ID" %> | <%= current_user.profile.present? ? (link_to "Edit Profile Info", edit_profile_path(current_user.profile)): (link_to "Create Profile Info", new_profile_path(current_user.profile)) %>

